html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#content {
  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content 1fr;
}

.side-bar {
  width: min-content;
  padding: 1rem;
  background-color: lightseagreen;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;

  grid-row-gap: 10vh;
}

.add-project-btn {
  border: none;
  background-color: lightseagreen;
  font-size: 1.5rem;
  color: black;
}

.logo-box {
  display: flex;
}

.logo {
  padding: 1rem;
}

.side-bar-header {
  margin: auto 0;
  font-size: 2.5rem;
  white-space: nowrap;
  padding-right: 1rem;
}

.link-box {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  padding: 0 3rem;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin: auto 0;
  white-space: nowrap;
}

.project-links {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-link {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  white-space: nowrap;
}

.main {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
}

.main-header {
  height: 10vh;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
}

.main-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  background-color: rgb(207, 245, 242);
  max-height: 90vh;
}

.view-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(5.375rem, min-content));
  grid-row-gap: 1rem;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: content-box;
}

.view-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn {
  border: none;
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: lightseagreen;

  justify-self: flex-start;
}

.remove-btn {
  width: min-content;
  font-size: 1rem;
  margin: 1rem;
  background-color: red;
  border: none;
  border-radius: 5px;
}

.form-container,
.project-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgb(0 0 0 / 23%);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.hide-form {
  display: none;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 1vw;
  box-shadow: 0 8px 10px -6px black;
  padding: 3rem;
  background-color: lightseagreen;
}

.form legend {
  color: white;
  font-size: 1.5rem;
}

.form legend,
#task-title,
#task-description,
.project-title {
  grid-column: 1 / -1;
}

.form input,
textarea {
  border: none;
}

.error {
  border: 3px solid !important;
  border-color: crimson !important;
}

.high-priority,
.medium-priority,
.low-priority {
  background-color: darkslategrey;
  padding: 1rem;
  border-radius: 1px;
}

.high-priority {
  color: crimson;
}

.medium-priority {
  color: yellow;
}

.low-priority {
  color: green;
}

.completed {
  color: blue;
}

.card,
.project-card {
  padding: 1rem;
  margin: 0 15vw 0 1rem;
  border: 1px solid lightseagreen;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  hyphens: manual;
  cursor: pointer;
}

.card p {
  max-width: 20%;
  max-height: 100%;
  text-overflow: ellipsis;
}
